@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 >Gifting made easy - below cards on SALE!!!</h1>
</div>

<div>
    <div>
        <a href="/Home/Gifts">
            <img height="180px" width="280px" src="~/images/GiftShop-GiftCard.png" />
        </a>
    </div>
</div>
